section.block-wrapper {
  padding-top: calc(var(--elm-padding-top) / 2);
  padding-bottom: calc(var(--elm-padding-bottom) / 2);

  @media screen and (min-width: 992px) {
    padding-top: var(--elm-padding-top);
    padding-bottom: var(--elm-padding-bottom);
    padding-inline-start: var(--elm-padding-start);
    padding-inline-end: var(--elm-padding-end);
  }
}
